.login {
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    width: 360px;
    padding: 100px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    h1 {
      color: gray;
      margin-bottom: 20px;
    }

    label {
      color: gray;
      font-size: 20px;
    }

    input,
    textarea {
      padding: 20px;
      border: 1px solid rgb(216, 214, 214);
      font-size: 16px;
      border-radius: 15px;

    }

    button {
      border: none;
      padding: 20px;
      color: white;
      font-weight: 500;
      font-size: 18px;
      background-color: #1dbf73;
      cursor: pointer;
      border-radius: 15px;
      transition: all .2s ease-in;
      &:hover {
        background-color: white;
        color: #1dbf73;
        outline:1px solid #1dbf73;
      }
    }

    span{
      color: red;
      font-size: 12px;
    }
    .error-field {
      color: red;
    }
  }
}