$color-navbar-green: #013914;
$color-dot-green: #1dbf73;
$color-pure-white: #fff;
$color-pure-black: #000;
$color-almost-black: #111;
$color-gray: gray;
$color-light-gray: lightgray;
$color-quite-light-gray: #ebe5e5;
$color-very-light-gray: #fafafa;
$color-light-lime: #f1fdf7;
$color-marine-blue: #0d084d;
$color-soft-grey: #999;
$color-gig-footer: #555;
$color-star-orange: #ffc108;
$color-border-grey: rgb(241,241,241);
$color-table-row: #1dbf730f;